@use '../abstracts';
@import '../abstracts/';

.showcase {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: abstracts.$color-primary-200;
  margin-top: 2rem;
}
.showcase__title {
  font-size: 7rem;
  text-align: center;
}
.showcase__subtitle {
  font-size: 2rem;
  text-align: center;
}

@include breakpoint('medium') {
  .showcase {
    padding: 5%;
    margin-top: 3rem;
  }
  .showcase__title {
    font-size: 6rem;
  }
  .showcase__subtitle {
    font-size: 2rem;
  }
}

@include breakpoint('small') {
  .showcase {
    height: 80vh;
    padding: 0;
  }
  .showcase__title {
    font-size: 3rem;
  }
  .showcase__subtitle {
    font-size: 1.5rem;
  }
}
